body{background-color: black;}
img{
    
    align-items: center;
    float:left;
    padding:20px;
}
h1{align-items: center;
color:white;
font-size: 4em;}
p{align-items: center;
color:white;
font-size: x-large;}
